# Top-level directories
/auto-save-list/
/backup/
/desktop/*
!/desktop/.gitkeep
/eln-cache/
/elpa/
/transient/
/undo/

# File to Org ID mapping
/.org-id-locations
# Customization information
/custom.el
# History of 'savehist'
/history
# Org-roam database
/org-roam.db
# History of Pomodoro timer
/pomm
# Tramp connection history
/tramp

# Byte-compiled files
*.elc
